*,
::after,
::before {
  font-family: "HelveticaNeue";
  font-weight: 300;
  color: #4D4D4D;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 0.625em;
}

body {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.scroll {
  overflow-y: auto;
  overflow-x: clip;
}
.scroll::-webkit-scrollbar {
  width: 0.294em;
  height: 0.294em;
  background-color: transparent;
}
.scroll::-webkit-scrollbar-track {
  margin-bottom: 1.176em;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #CF2136;
  border-radius: 0.588em;
}
.scroll_x {
  overflow-y: clip;
  overflow-x: auto;
}
.scroll_x::-webkit-scrollbar-track {
  margin: 0 1.176em;
}
.scroll_margin-none::-webkit-scrollbar-track {
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 15;
}

.input {
  font-size: inherit;
  background-color: #EDEDED;
  padding: 0.8em;
  border: none;
  border-radius: 0.708em;
  color: #4D4D4D;
  resize: none;
  overflow: hidden;
  box-shadow: 0 0 0 0.15em transparent;
}
.input:disabled {
  opacity: 0.6;
}
.input:disabled:hover, .input:disabled:focus {
  box-shadow: none;
}
.input_big {
  height: 100%;
}
.input:hover, .input:focus {
  box-shadow: 0 0 0 0.15em #CF2136;
}
.input::-moz-placeholder {
  color: #4D4D4D;
  text-transform: uppercase;
  min-height: 100%;
}
.input:-ms-input-placeholder {
  color: #4D4D4D;
  text-transform: uppercase;
  min-height: 100%;
}
.input::placeholder {
  color: #4D4D4D;
  text-transform: uppercase;
  min-height: 100%;
}

.select {
  font-size: inherit;
  color: #CF2136;
  background-color: #EDEDED;
  border: none;
  border-radius: 0.9em;
  padding: 0.5em 1em;
  padding-right: 1.7em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.select:hover, .select:focus {
  background-color: #d4d4d4;
}
.select_big {
  padding-right: 7.5em;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  bottom: 45%;
  right: 0.8em;
  width: 0.5em;
  height: 0.5em;
  border-right: 0.05em solid #CF2136;
  border-bottom: 0.05em solid #CF2136;
  transform: rotate(45deg);
}
.select__option {
  background-color: #FFFFFF;
}
.select__option:hover, .select__option:focus {
  color: #FFFFFF;
  background-color: #CF2136;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 13.8em;
  height: 3.6em;
  font-size: 0.708em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #CF2136;
  border: none;
  border-radius: 0 0.972em 0 0.5em;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .button {
    font-size: 0.55em;
  }
}
.button:hover, .button:focus {
  background-color: #a31a2b;
}
.button_bottom-right {
  border-radius: 0.5em 0 0.972em 0;
}
.button_calendar {
  position: relative;
}
.button_calendar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.588em;
  display: inline-block;
  width: 1.588em;
  height: 1.588em;
  background-image: url("../img/calendar.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.simple-button {
  font-size: inherit;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #CF2136;
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 0.972em;
  cursor: pointer;
}
.simple-button:hover, .simple-button:focus {
  background-color: #a31a2b;
}

.toggle {
  display: inline-flex;
  min-width: 20rem;
}
.toggle__button {
  flex-basis: 50%;
  font-size: 1em;
  font-weight: 300;
  text-transform: lowercase;
  background-color: #F9F9F9;
  border: none;
  padding: 0.6em 1.5em;
  cursor: pointer;
}
.toggle__button:hover, .toggle__button:focus {
  color: #FFFFFF;
  background-color: #CF2136;
}
.toggle__button_right {
  border-radius: 0 3em 3em 0;
}
.toggle__button_left {
  border-radius: 3em 0 0 3em;
}
.toggle__button_active {
  color: #FFFFFF;
  background-color: #CF2136;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5em;
  height: 5.5em;
  font-size: inherit;
  background-color: #EDEDED;
  border: none;
  border-radius: 1.2em;
  cursor: pointer;
}
.add-button:hover, .add-button:focus {
  background-color: #d4d4d4;
}
.add-button:disabled {
  opacity: 0.6;
  cursor: default;
}
.add-button:disabled:hover, .add-button:disabled:focus {
  background-color: #EDEDED;
}
.add-button_small {
  width: 1.8em;
  height: 1.8em;
  background-color: transparent;
}
.add-button_circle {
  border-radius: 50%;
  width: 3.65em;
  height: 3.65em;
}
.add-button_rectangle {
  width: 12.85em;
  height: 4.15em;
  border-radius: 0.5em;
}
.add-button_middle {
  width: 15.2em;
  height: 9.1em;
  border-radius: 0.5em;
}
.add-button_big {
  width: 15.2em;
  height: 10.2em;
  border-radius: 0.5em;
}
.add-button img {
  width: 1.8em;
}

.burger {
  position: fixed;
  top: 3.5rem;
  left: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #CF2136;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .burger {
    top: 1.5rem;
  }
}
.burger:hover, .burger:focus {
  background-color: #a31a2b;
}
.burger img {
  width: 50%;
}

.search {
  position: relative;
  display: inline-block;
}
.search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.667em;
  width: 0.833em;
  height: 0.833em;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  transform: translateY(-50%);
}
.search__input {
  height: 1.958em;
  width: 100%;
  min-width: 8em;
  font-size: inherit;
  color: #4D4D4D;
  background-color: #FFFFFF;
  padding-left: 2em;
  border: 0.041em solid #CF2136;
  border-radius: 3em;
}
.search__input::-moz-placeholder {
  min-height: 100%;
}
.search__input:-ms-input-placeholder {
  min-height: 100%;
}
.search__input::placeholder {
  min-height: 100%;
}
.search__input:hover, .search__input:focus {
  box-shadow: 0 0 0 0.07em #CF2136;
}

.radio {
  display: flex;
  align-items: center;
}
.radio:hover .radio__pseudo-radio, .radio:focus .radio__pseudo-radio {
  background-color: #c6c6c6;
  border-color: #c6c6c6;
}
.radio__input {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  z-index: -1;
}
.radio__input[type=radio]:checked + span, .radio__input[type=checkbox]:checked + span {
  background-color: #CF2136;
}
.radio__pseudo-radio {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #e0e0e0;
  border: 0.2em solid #e0e0e0;
  border-radius: 50%;
  margin-right: 0.5em;
}

.download-info td:nth-child(2) {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
.download-info__title {
  text-align: right;
  font-size: 0.75em;
  font-weight: 500;
}
.download-info__progress-bar {
  position: relative;
  width: 100%;
  height: 0.5em;
  background-color: #F9F9F9;
  border-radius: 2rem;
}
.download-info__progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #CF2136;
  border-radius: inherit;
}
.download-info__procents {
  width: 5rem;
  font-size: 0.75em;
  font-weight: 500;
  text-align: right;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 15.154em;
  font-size: 1.7rem;
  background-color: #FFFFFF;
  padding: 1.038em 0 1.577em;
  box-shadow: 0 0.375em 1.504em rgba(0, 0, 0, 0.08);
  z-index: 20;
}
@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
}
.navbar__logo {
  margin-left: 2.231em;
  margin-bottom: 0.5em;
}
.navbar__logo img {
  width: 3.692em;
}
.navbar__nav {
  height: 100%;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}
.navbar__item {
  margin-bottom: 0.577em;
}
.navbar__item:hover, .navbar__item:focus {
  color: #FFFFFF;
  background-color: #CF2136;
}
.navbar__item:hover .navbar__icon, .navbar__item:focus .navbar__icon {
  fill: #FFFFFF;
}
.navbar__item_active {
  color: #FFFFFF;
  background-color: #CF2136;
}
.navbar__item_active .navbar__icon {
  fill: #FFFFFF;
}
.navbar__link {
  display: flex;
  align-items: center;
  height: 2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 2.231em;
}
.navbar__icon {
  width: 1.346em;
  margin-right: 1.154em;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50em;
  min-height: 10em;
  max-height: none;
  font-size: 2.4rem;
  background-color: #FFFFFF;
  border-radius: 0.972em;
  box-shadow: 0 0.375em 1.504em rgba(0, 0, 0, 0.08);
}
.section_height {
  max-height: none;
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 12rem 1.5rem 0;
  margin-left: 25.8rem;
}
@media screen and (max-width: 1200px) {
  .section-wrapper {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .section-wrapper {
    padding: 9rem 1.5rem 0;
  }
}
.section-logo {
  position: fixed;
  top: 0;
  left: 25.8rem;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F9F9F9;
  padding-top: 4.8rem;
  padding-bottom: 1em;
  padding-right: 25.8rem;
  margin: 0;
  z-index: 5;
}
@media screen and (max-width: 1200px) {
  .section-logo {
    left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .section-logo {
    font-size: 1.2em;
    justify-content: flex-end;
    padding: 1em 1.5em;
  }
}
.section-logo img {
  width: 7.667em;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 2em;
}
.section__search {
  font-size: 0.708em;
}
.section__button {
  margin-left: auto;
}

.footer {
  font-size: 1.4rem;
  padding: 3.429em 0 1.5rem;
}
.footer__text {
  font-family: "Gilroy-Medium";
  font-style: normal;
  letter-spacing: 0.116667rem;
  font-size: 1em;
  font-weight: 700;
  color: #7B7B7B;
}

.add-stickers {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 19.5em;
  font-size: 1.7rem;
  padding: 1.5em 0 4em;
}
.add-stickers__toggle {
  margin-bottom: 3.2em;
}
.add-stickers__text {
  font-size: 0.97em;
  font-weight: 500;
  margin-bottom: 3.2em;
}
.add-stickers__button {
  font-size: 1em;
  font-weight: 700;
  color: #CF2136;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.add-stickers__button:hover, .add-stickers__button:focus {
  color: #e86e7d;
}

.sticker-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7.3em;
  height: 9.8em;
  font-size: 2.4rem;
  padding: 0.5em 0;
  border-radius: 1em;
}
.sticker-card:hover, .sticker-card:focus {
  font-size: 1em;
  background-color: #F9F9F9;
}
.sticker-card:hover .sticker-card__add, .sticker-card:focus .sticker-card__add {
  display: block;
}
.sticker-card:hover .sticker-card__footer, .sticker-card:focus .sticker-card__footer {
  display: flex;
}
.sticker-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 1.05em;
  width: 100%;
  padding: 0 0.4em;
  margin-bottom: 0.5em;
}
.sticker-card__number {
  position: relative;
  bottom: -0.5em;
  font-size: 0.7em;
  font-weight: 700;
}
.sticker-card__emoji {
  display: flex;
  align-items: flex-end;
}
.sticker-card__emoji span {
  font-size: 0.9em;
}
.sticker-card__button {
  width: 1em;
  height: 1em;
  font-size: 1em;
  background-color: transparent;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.sticker-card__button img {
  width: 100%;
  height: 100%;
}
.sticker-card__add {
  display: none;
}
.sticker-card__img {
  width: 70%;
}
.sticker-card__footer {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.stickers-list {
  height: 100%;
  font-size: 2.4rem;
  padding: 2rem;
}
.stickers-list__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.stickers-list__item {
  flex-basis: 16.666%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.stickers-list__item:last-child {
  margin-right: auto;
}
.stickers-list__card {
  font-size: 1em;
}
.stickers-list__add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.3em;
  height: 9.8em;
  padding: 0.5em 0;
  border-radius: 1em;
  background-color: #F9F9F9;
  cursor: pointer;
}
.stickers-list__add:hover, .stickers-list__add:focus {
  background-color: #e0e0e0;
}
.stickers-list__add img {
  width: 20%;
}

.information {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  padding: 1.7em 4.412em 4.118em 2.059em;
}
.information__title {
  font-size: 1.01em;
  font-weight: 500;
}
.information__title_margin {
  margin-bottom: 1em;
}
.information__row {
  display: flex;
  justify-content: space-between;
}
.information__row_margin {
  margin-bottom: 1em;
}
.information__id-block {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 9.118em;
  margin-bottom: 1.7em;
}
.information__id-block-radio {
  display: flex;
  justify-content: space-between;
  padding-left: 1.176em;
  padding-right: 3.529em;
}
.information__info-block {
  flex-basis: 64%;
  display: flex;
  flex-direction: column;
  min-height: 9.118em;
  margin-bottom: 1.7em;
}
.information__info-block-select {
  font-size: 1.1em;
  background-color: transparent;
}
.information__info-block-row {
  display: flex;
  align-items: center;
  margin-bottom: 1.76em;
}
.information__info-block-row input {
  flex-basis: 21.176em;
  margin-right: 1.176em;
}
.information__info-block-row select {
  display: inline-block;
}
.information__add-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.information__add-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.8em;
}
.information__add-block-item_banner {
  padding-top: 0;
}
.information__add-block-item_banner label {
  height: 0;
  padding-bottom: 1.8em;
  margin-right: auto;
}
.information__add-block-item_banner input {
  margin-right: 1em;
}
.information__add-block-size {
  font-size: 0.6em;
  margin-top: 0.7em;
}
.information__add-link {
  display: flex;
  align-items: center;
  flex-basis: 48%;
}
.information__add-link input {
  width: 100%;
  margin-left: 0.8em;
}
.information__select-label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 1em;
  margin-right: 2em;
}
.information__select-label:last-child {
  margin-right: auto;
}
.information__select-label select {
  margin-left: 1em;
}

.additional-links {
  width: 88%;
}
.additional-links__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.additional-links__item {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.additional-links__input {
  width: 100%;
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .total-table {
    font-size: 0.8em;
  }
}
.total-table tr {
  font-size: inherit;
}
.total-table td {
  font-size: inherit;
  text-align: left;
  width: 7em;
  padding: 0.625em 0;
}
.total-table td:last-child {
  width: auto;
  min-width: 5em;
}
.total-table__thead {
  font-size: inherit;
}
.total-table__thead td {
  padding-top: 0.417em;
}
.total-table__thead td:first-child {
  padding-left: 1.25em;
}
.total-table__thead td:last-child {
  padding-right: 1.25em;
}
.total-table__tbody {
  font-size: inherit;
  background-color: #F9F9F9;
  font-size: 1.35em;
}
.total-table__tbody td {
  padding: 0.463em 0;
}
.total-table__tbody td:first-child {
  padding-left: 0.926em;
}
.total-table__tbody td:last-child {
  padding-right: 0.926em;
}

.finance-table {
  display: flex;
  flex-direction: column;
}
.finance-table tr {
  border-bottom: 0.1rem solid #7B7B7B;
}
.finance-table td {
  font-weight: 500;
  padding-bottom: 1rem;
}
.finance-table td:nth-child(1) {
  width: 11rem;
}
.finance-table td:nth-child(2) {
  width: 21.5rem;
  text-align: center;
}
.finance-table td:nth-child(3) {
  width: 26rem;
  text-align: center;
}
.finance-table td:nth-child(4) {
  width: 17rem;
}
.finance-table td:nth-child(5) {
  width: 34rem;
}
.finance-table__thead {
  min-width: 68rem;
}
.finance-table__wrapper {
  min-height: 10rem;
  max-height: 25rem;
  min-width: 68rem;
}
.finance-table__table {
  width: 100%;
}
.finance-table__table td {
  padding: 2rem 0;
}

.stickers-table td {
  padding: 1.5rem 0;
}
.stickers-table td:first-child {
  padding-left: 4rem;
}
.stickers-table td:nth-child(1) {
  width: 2.5rem;
}
.stickers-table td:nth-child(2) {
  min-width: 10rem;
}
.stickers-table td:nth-child(3) {
  width: 55rem;
}
.stickers-table td:nth-child(4), .stickers-table td:nth-child(5), .stickers-table td:nth-child(6) {
  width: 14rem;
  text-align: center;
}
.stickers-table td:nth-child(7) {
  width: 3rem;
}
.stickers-table td:last-child {
  padding-right: 4rem;
}
.stickers-table__thead {
  min-width: 70rem;
  width: 100%;
  background-color: #F9F9F9;
  padding: 1.5rem 4rem 1rem;
}
.stickers-table__thead td:nth-child(3) {
  white-space: nowrap;
}
.stickers-table__thead td:nth-child(3) span {
  font-weight: 500;
  margin-right: 1.7rem;
}
.stickers-table__thead td:nth-child(7) {
  width: 7rem;
}
.stickers-table__tbody {
  min-width: 70rem;
  width: 100%;
}
.stickers-table__tbody td:nth-child(2) {
  display: flex;
  justify-content: center;
}
.stickers-table__tbody td:nth-child(2) img {
  max-width: 5rem;
}
.stickers-table__search {
  width: 55%;
  max-width: 20rem;
  font-size: 1em;
}
.stickers-table__wrapper {
  padding: 0 4rem;
}

.analitics-thead {
  background-color: #F9F9F9;
  min-width: 70rem;
}
.analitics-thead td {
  padding: 1.5rem 0 1rem;
}
.analitics-thead td:first-child {
  width: 1rem;
  padding-left: 4rem;
}
.analitics-thead td:nth-child(2) {
  width: 10rem;
  min-width: 7rem;
}
.analitics-thead td:nth-child(3) {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 63rem;
}
.analitics-thead td:nth-child(3) span {
  font-size: 1.1em;
  font-weight: 500;
  margin-right: 1.5rem;
}
.analitics-thead td:nth-child(4) {
  width: 20rem;
  text-align: center;
}
.analitics-thead td:nth-child(5) {
  width: 20.5rem;
  text-align: center;
  padding-right: 4.5rem;
}
.analitics-thead__search {
  font-size: 1em;
}

.analitics-table {
  width: 100%;
}
.analitics-table-wrapper {
  min-width: 65rem;
  max-height: 40rem;
}
.analitics-table td {
  padding: 1.5rem 0;
}
.analitics-table td:first-child {
  width: 1rem;
  padding-left: 4rem;
}
.analitics-table td:nth-child(2) {
  width: 10rem;
  text-align: center;
}
.analitics-table td:nth-child(3) {
  min-width: 24rem;
  font-weight: 500;
}
.analitics-table td:nth-child(3) span {
  margin-right: 1.5rem;
  font-weight: 500;
}
.analitics-table td:nth-child(4), .analitics-table td:nth-child(5) {
  width: 20rem;
  text-align: center;
}
.analitics-table td:last-child {
  padding-right: 4rem;
}
.analitics-table__img {
  max-width: 5rem;
}

.small-section {
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  font-weight: 500;
  background-color: #FFFFFF;
  padding: 1em 1.458em;
  border-radius: 0.972em;
  box-shadow: 0 0.375em 1.504em rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 600px) {
  .small-section {
    min-width: 0;
  }
}
.small-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.667em;
}
.small-section__toggle {
  font-size: 0.8em;
}
.small-section__chart {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.small-section__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .small-section__content {
    flex-direction: column;
    align-items: center;
  }
}
.small-section__img {
  flex-shrink: 2;
  flex-basis: 45%;
}
@media screen and (max-width: 600px) {
  .small-section__img {
    width: 70%;
  }
}
.small-section__img img {
  width: 100%;
}
.small-section__table-wrapper {
  flex-basis: 55%;
  margin-left: 1em;
}
@media screen and (max-width: 600px) {
  .small-section__table {
    margin: 1em 0 0;
  }
}
.small-section__download-info {
  font-size: 1em;
}
.small-section__download-info td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.login {
  display: flex;
  min-height: 100vh;
  background-color: #F9F9F9;
  padding-top: 5rem;
}
.login__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  flex-direction: column;
  padding: 0 1.5rem;
}
.login__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: 1.5em;
}
.login__logo img:first-child {
  max-width: 4.75em;
  margin-bottom: 1em;
}
.login__logo img:last-child {
  max-width: 7.389em;
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 27.556em;
  font-size: 2rem;
  background-color: #FFFFFF;
  padding: 2.25em 0 0 2.25em;
  border-radius: 0.972em;
  overflow: hidden;
  box-shadow: 0 0.375em 1.504em rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 500px) {
  .login__form {
    padding: 2.25em 0 0 1.5em;
  }
}
.login__input {
  font-size: 1em;
  line-height: 1em;
  background-color: #F9F9F9;
  padding: 0.556em;
  border-radius: 3em 0 0 3em;
}
.login__input::-moz-placeholder {
  text-transform: none;
}
.login__input:-ms-input-placeholder {
  text-transform: none;
}
.login__input::placeholder {
  text-transform: none;
}
.login__input:first-child {
  margin-bottom: 1.389em;
}
.login__input:nth-child(2) {
  margin-bottom: 0.5em;
}
.login__forget-pass {
  align-self: flex-end;
  font-size: 0.75em;
  color: #CF2136;
  text-decoration: none;
  margin-bottom: 2.7em;
  margin-right: 2rem;
}
.login__forget-pass:hover, .login__forget-pass:focus {
  text-decoration: underline;
}
.login__submit {
  max-width: 9.289em;
  height: 2.472em;
  font-size: 1em;
  font-weight: 300;
  align-self: flex-end;
  text-transform: none;
}
.login__footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  width: 100%;
  max-width: 136rem;
  padding: 1.5rem 2rem;
}
@media screen and (max-width: 1000px) {
  .login__footer {
    flex-direction: column-reverse;
    padding: 3rem;
  }
}
.login__text {
  width: 70%;
  text-align: center;
  padding-left: 30%;
}
@media screen and (max-width: 1000px) {
  .login__text {
    width: 100%;
    padding-left: 0;
  }
}
.login__links {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
@media screen and (max-width: 1000px) {
  .login__links {
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.login__links a {
  text-decoration: none;
  line-height: 0.7;
  margin-left: 1.425em;
}
.login__links a svg {
  width: auto;
  height: 100%;
  max-height: 2.7rem;
}
.login__links a svg:hover, .login__links a svg:focus {
  fill: #626262;
}

.stickers {
  display: flex;
  background-color: #F9F9F9;
}
.stickers__thead {
  display: flex;
  font-size: 1.7rem;
  text-align: center;
  background-color: #F9F9F9;
  padding: 1.412em 0;
  padding-left: 8.235em;
  margin-top: 2.647em;
}
.stickers__thead li {
  font-weight: 500;
}
.stickers__thead li:nth-child(1) {
  width: 12.5em;
  -moz-text-align-last: left;
       text-align-last: left;
}
.stickers__thead li:nth-child(2) {
  width: 17.529em;
}
.stickers__thead li:nth-child(3) {
  width: 7.4705em;
}
.stickers__thead li:nth-child(4) {
  width: 14em;
}
.stickers__table-wrapper {
  font-size: 1.7rem;
}
.stickers__table {
  width: 100%;
  text-align: center;
}
.stickers__table td:nth-child(2) {
  text-align: left;
}
.stickers__table tr:nth-child(1) td {
  padding-top: 1.6em;
}
.stickers__table td {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0.4706em 0;
}
.stickers__table td:nth-child(1) {
  width: 8.1em;
}
.stickers__table td:nth-child(2) {
  width: 12.5em;
}
.stickers__table td:nth-child(2), .stickers__table td:nth-child(3) {
  font-weight: 700;
}
.stickers__table td:nth-child(5) {
  width: 14em;
}
.stickers__table td:nth-child(7) {
  width: 7.5em;
}
.stickers__img {
  border-radius: 50%;
}
.stickers__img img {
  width: 3em;
}
.stickers__status_green {
  color: #73B709;
}
.stickers__status_red {
  color: #E22432;
}
.stickers__status_orange {
  color: #F3B738;
}
.stickers__edit {
  display: inline-block;
  width: 1.4em;
}
.stickers__edit:hover, .stickers__edit:focus {
  filter: brightness(50%);
}
.stickers__edit img {
  width: 100%;
}
.stickers__button-icon {
  width: 2.7em;
  font-size: 1.7rem;
  background-color: transparent;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}
.stickers__button-icon_opacity {
  opacity: 0.5;
}
.stickers__button-icon:hover, .stickers__button-icon:focus {
  filter: brightness(50%);
}
.stickers__button-icon img {
  width: 100%;
}

.create {
  display: flex;
  background-color: #F9F9F9;
}
.create__warning {
  position: relative;
  color: #CF2136;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-left: 1rem;
  margin-left: 4rem;
}
.create__warning::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 100%;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-image: url("../img/warning.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.create__nav {
  font-size: 2.4rem;
  background-color: #F9F9F9;
  margin-top: 4.5rem;
}
.create__nav-list {
  display: flex;
  padding-left: 4.7rem;
}
.create__nav-button {
  position: relative;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: transparent;
  padding: 2.7rem 2.5rem 1.8rem 2.5rem;
  border-bottom: 0.3rem solid transparent;
  border: none;
  margin-right: 4.5rem;
  cursor: pointer;
}
.create__nav-button:hover, .create__nav-button:focus {
  color: #FFFFFF;
  background-color: #CF2136;
  border-bottom: 0.3rem solid #CF2136;
}
.create__nav-button:hover::before, .create__nav-button:focus::before {
  display: none;
}
.create__nav-button_active {
  border-bottom: 0.3rem solid #CF2136;
}
.create__nav-button_warning::before {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: 0.4rem;
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("../img/warning.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.finance {
  display: flex;
  background-color: #F9F9F9;
}
@media screen and (max-width: 1000px) {
  .finance__total-table {
    font-size: 1.9rem;
  }
}
.finance__content {
  display: flex;
  flex-direction: column;
}
.finance__finance-table {
  font-size: 1.7rem;
  margin: 4rem 5rem 4rem;
}
.finance__stickers-table {
  font-size: 1.7rem;
}

.analitics {
  display: flex;
  background-color: #F9F9F9;
}
.analitics__logo {
  position: fixed;
  top: 0;
  left: 25.8rem;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F9F9F9;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-right: 25.8rem;
  margin: 0;
}
.analitics__logo img {
  width: 18.4rem;
}
.analitics__section {
  margin-bottom: 3rem;
}
.analitics__chart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  min-height: 20rem;
}
.analitics__thead-table {
  width: 100%;
  min-width: 65rem;
}
.analitics__analitics-thead {
  font-size: 1.7rem;
}
.analitics__analitics-table {
  font-size: 1.7rem;
}
.analitics__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 50em;
  font-size: 2.4rem;
}
@media screen and (max-width: 1000px) {
  .analitics__row {
    flex-direction: column;
  }
}
.analitics__small-section {
  font-size: 0.9em;
}
@media screen and (max-width: 600px) {
  .analitics__small-section {
    font-size: 0.8em;
  }
}
.analitics__small-section:nth-child(1) {
  margin-right: 4rem;
}
@media screen and (max-width: 1000px) {
  .analitics__small-section:nth-child(1) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.analitics__small-section:nth-child(2) {
  width: 100%;
}

.accounts {
  display: flex;
  background-color: #F9F9F9;
}
.accounts__section {
  padding-bottom: 6rem;
}
.accounts__table {
  margin-top: 4.5rem;
}
.accounts__thead {
  background-color: #F9F9F9;
  padding: 0 1.5rem;
}
.accounts__thead td {
  font-weight: 500;
  padding: 2.3rem 0;
}
.accounts__tbody td {
  padding-top: 3rem;
}
.accounts td {
  font-size: 1.7rem;
  padding-right: 3rem;
}
.accounts td:first-child {
  padding-left: 5rem;
}
.accounts td:last-child {
  padding-right: 5rem;
}
.accounts__input {
  width: 100%;
  margin-right: 3rem;
}
.accounts__img {
  width: 5rem;
  border-radius: 50%;
}
.accounts__img:nth-child(2) {
  position: relative;
  left: -17%;
}
.accounts__select {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.settings {
  display: flex;
  background-color: #F9F9F9;
}
.settings__section {
  padding: 5rem 0 3rem;
}
.settings__title {
  background-color: #F9F9F9;
  font-size: 2.7rem;
  padding: 1.7rem 4rem;
}
.settings__form {
  display: flex;
  padding: 0 4rem 2rem;
}
@media screen and (max-width: 600px) {
  .settings__form {
    flex-wrap: wrap;
  }
}
.settings__input {
  width: 100%;
  min-width: 15rem;
  height: 4.6rem;
  max-width: 25rem;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-right: 3rem;
}
@media screen and (max-width: 600px) {
  .settings__input {
    max-width: none;
    margin-right: 0;
  }
}
.settings__input::-moz-placeholder {
  text-transform: none;
}
.settings__input:-ms-input-placeholder {
  text-transform: none;
}
.settings__input::placeholder {
  text-transform: none;
}
.settings__submit {
  display: inline-flex;
  align-items: center;
  height: 4.6rem;
  font-size: 1.7rem;
  margin-top: 2rem;
}/*# sourceMappingURL=styles.css.map */