*,
::after,
::before {
  font-family: "HelveticaNeue";
  font-weight: 300;
  color: #4D4D4D;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 0.625em;
}

body {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
.input {
  font-size: 2.4rem;
  background-color: #EDEDED;
  padding: 0.556em;
  border: none;
  border-radius: 3em 0 0 3em;
  color: #4D4D4D;
}
.input:hover, .input:focus {
  box-shadow: 0 0 0 0.1em #CF2136;
}
.input::-moz-placeholder {
  color: #4D4D4D;
}
.input:-ms-input-placeholder {
  color: #4D4D4D;
}
.input::placeholder {
  color: #4D4D4D;
}

.button {
  width: 100%;
  max-width: 9.289em;
  height: 2.472em;
  font-size: 2.4rem;
  color: #fff;
  background-color: #CF2136;
  border: none;
  border-radius: 0 0.972em 0 0.5em;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #a31a2b;
}
.button_bottom-right {
  border-radius: 0.5em 0 0.972em 0;
}

.search {
  position: relative;
  font-size: 2.4rem;
}
.search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.667em;
  width: 0.833em;
  height: 0.833em;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  transform: translateY(-50%);
}
.search__input {
  height: 1.958em;
  font-size: inherit;
  color: #4D4D4D;
  background-color: #FFFFFF;
  padding-left: 2em;
  border: 0.041em solid #CF2136;
  border-radius: 3em;
}
.search__input:hover, .search__input:focus {
  box-shadow: 0 0 0 0.07em #CF2136;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 15.154em;
  font-size: 1.7rem;
  background-color: #FFFFFF;
  padding: 1.038em 0 1.577em;
}
.navbar__logo {
  margin-left: 2.231em;
  margin-bottom: 0.5em;
}
.navbar__logo img {
  width: 3.692em;
}
.navbar__nav {
  height: 100%;
}
.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}
.navbar__item {
  margin-bottom: 0.577em;
}
.navbar__item:hover, .navbar__item:focus {
  color: #FFFFFF;
  background-color: #CF2136;
}
.navbar__item:hover .navbar__icon, .navbar__item:focus .navbar__icon {
  fill: #FFFFFF;
}
.navbar__item_active {
  color: #FFFFFF;
  background-color: #CF2136;
}
.navbar__item_active .navbar__icon {
  fill: #FFFFFF;
}
.navbar__link {
  display: flex;
  align-items: center;
  height: 2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 2.231em;
}
.navbar__icon {
  width: 1.346em;
  margin-right: 1.154em;
}

.section {
  width: 100%;
  max-width: 50em;
  min-height: 30rem;
  font-size: 2.4rem;
  background-color: #FFFFFF;
  border-radius: 0.972em;
}
.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 2em;
}
.section__search {
  font-size: 0.708em;
}
.section__button {
  margin-left: auto;
}

.login {
  height: 100vh;
  background-color: #F2F2F2;
  padding-top: 5rem;
}
.login__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
}
.login__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: 1.5em;
}
.login__logo img:first-child {
  max-width: 4.75em;
  margin-bottom: 1em;
}
.login__logo img:last-child {
  max-width: 7.389em;
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 27.556em;
  font-size: 2rem;
  background-color: #FFFFFF;
  padding: 2.25em 0 0 2.25em;
  border-radius: 0.972em;
  overflow: hidden;
}
.login__input {
  font-size: 1em;
  background-color: #F2F2F2;
}
.login__input:first-child {
  margin-bottom: 1.389em;
}
.login__input:nth-child(2) {
  margin-bottom: 0.2em;
}
.login__forget-pass {
  align-self: flex-end;
  font-size: 0.75em;
  color: #CF2136;
  text-decoration: none;
  margin-bottom: 3em;
  margin-right: 1.2em;
}
.login__forget-pass:hover, .login__forget-pass:focus {
  text-decoration: underline;
}
.login__submit {
  font-size: 1em;
  align-self: flex-end;
}

.stickers {
  display: flex;
  height: 100vh;
  background-color: #F2F2F2;
}
.stickers__thead {
  display: flex;
  font-size: 1.7rem;
  text-align: center;
  background-color: #F2F2F2;
  padding: 1.412em 0;
  padding-left: 8.235em;
  margin-top: 2.647em;
}
.stickers__thead li {
  font-weight: 500;
}
.stickers__thead li:nth-child(1) {
  width: 12.5em;
  -moz-text-align-last: left;
       text-align-last: left;
}
.stickers__thead li:nth-child(2) {
  width: 17.529em;
}
.stickers__thead li:nth-child(3) {
  width: 7.4705em;
}
.stickers__thead li:nth-child(4) {
  width: 14em;
}
.stickers__table-wrapper {
  max-height: 20em;
  font-size: 1.7rem;
  overflow-y: auto;
}
.stickers__table-wrapper::-webkit-scrollbar {
  width: 0.294em;
  background-color: transparent;
}
.stickers__table-wrapper::-webkit-scrollbar-track {
  margin-bottom: 1.176em;
}
.stickers__table-wrapper::-webkit-scrollbar-thumb {
  background-color: #CF2136;
  border-radius: 0.588em;
}
.stickers__table {
  width: 100%;
  text-align: center;
}
.stickers__table td:nth-child(2) {
  text-align: left;
}
.stickers__table tr:nth-child(1) td {
  padding-top: 1.6em;
}
.stickers__table td {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0.4706em 0;
}
.stickers__table td:nth-child(1) {
  width: 8.1em;
}
.stickers__table td:nth-child(2) {
  width: 12.5em;
}
.stickers__table td:nth-child(2), .stickers__table td:nth-child(3) {
  font-weight: 700;
}
.stickers__table td:nth-child(5) {
  width: 14em;
}
.stickers__table td:nth-child(7) {
  width: 7.5em;
}
.stickers__img {
  border-radius: 50%;
}
.stickers__img img {
  width: 3em;
}
.stickers__status_green {
  color: #73B709;
}
.stickers__status_red {
  color: #E22432;
}
.stickers__status_orange {
  color: #F3B738;
}
.stickers__edit {
  display: inline-block;
  width: 1.4em;
}
.stickers__edit:hover, .stickers__edit:focus {
  filter: brightness(50%);
}
.stickers__edit img {
  width: 100%;
}
.stickers__button-icon {
  width: 2.7em;
  font-size: 1.7rem;
  background-color: transparent;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}
.stickers__button-icon_opacity {
  opacity: 0.5;
}
.stickers__button-icon:hover, .stickers__button-icon:focus {
  filter: brightness(50%);
}
.stickers__button-icon img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */