.scroll {
  overflow-y: auto;


  &::-webkit-scrollbar {
    width: 0.294em;
    height: 0.294em;
    background-color: transparent; 
  }

  &::-webkit-scrollbar-track {
    margin-bottom: 1.176em;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $active;
    border-radius: 0.588em;
  }

  &_margin-none {
    &::-webkit-scrollbar-track {
      margin-bottom: 0;
    }
  }
  
  &_x {
    &::-webkit-scrollbar-track {
      margin: 0 1.176em;
    }
  }
}