.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 7em;
  background-color: $page-bg;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($page-bg, 10%);
  }

  &_small {
    width: 2.5em;
    height: 2.5em;
    background-color: transparent;
  }
  
  &_circle {
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
  }

  &_rectangle {
    width: 16.6em;
    height: 5em;
    border-radius: 0.708em;
  }
  
  &_middle {
    width: 19.5em;
    height: 11.5em;
  }
  
  &_big {
    width: 19.5em;
    height: 13em;
    border-radius: 0.708em;
  }

  img {
    width: 2.5em;
  }
}