.analitics-table {
  &__thead {
    background-color: $page-bg;

    td {
      padding: 1.5rem 0 1rem;

      &:nth-child(3) {
        display: flex;
        align-items: center;
        font-size: 1.1em;
      }
    }

  }

  &__search {
    font-size: 0.9em;
  }

  &__tbody {
    td {
      padding: 1.5rem 0;
    }
  }

  td {
    padding: 1.5rem 0;

    &:first-child {
      width: 1rem;
      padding-left: 4rem;
    }

    &:last-child {
      padding-right: 4rem;
    }

    &:nth-child(2) {
      text-align: center;
    }


    &:nth-child(3) {
      font-weight: 500;

      span {
        margin-right: 1.5rem;
        font-weight: 500;
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      width: 20rem;
      text-align: center;
    }
  }

  &__img {
    max-width: 5rem;
  }
}