.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 13.8em;
  height: 3.6em;
  font-size: 1.7rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $active;
  border: none;
  border-radius: 0 0.972em 0 0.5em;
  cursor: pointer;
  
  &:hover,
  &:focus {
    background-color: darken($active, 10%);
  }
  
  &_bottom-right {
    border-radius: 0.5em 0 0.972em 0;
  }

  &_calendar {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1rem;
      display: inline-block;
      width: 2.7rem;
      height: 2.7rem;
      background-image: url('../img/calendar.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }
}