.footer {
  font-size: 1.4rem;
  padding: 3.429em 0;

  &__text {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    letter-spacing: 0.116667rem;
    font-size: 1em;
    font-weight: 700;
    color: #7B7B7B;
  }
}