.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50em;
  min-height: 10em;
  max-height: none;
  font-size: 2.4rem;
  background-color: $component-bg;
  border-radius: 0.972em;
  box-shadow: 0 0.375em 1.504em rgba(0, 0, 0, 0.08);
  
  &_height {
    max-height: none;
  }
  
  &-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 12rem 1.5rem 2em;
    margin-left: 25.8rem;

    @media screen and (max-width: 1200px) {
      margin-left: 0;
    }
  }

  &-logo {
    position: fixed;
    top: 0;
    left: 25.8rem;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $page-bg;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-right: 25.8rem;
    margin: 0;
    z-index: 5;

    @media screen and (max-width: 1200px) {
      left: 0;
      padding-right: 0;
    }

    img {
      width: 18.4rem;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 2em;
  }

  &__search {
    font-size: 0.708em;
  }

  &__button {
    margin-left: auto;
  }
}