.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50em;
  min-height: 21.5em;
  max-height: 75vh;
  font-size: 2.4rem;
  background-color: $component-bg;
  border-radius: 0.972em;

  &_height {
    max-height: none;
  }
  
  &-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2em;
  }

  &-logo {
    width: 7.7em;
    margin-bottom: 2.4em;
    z-index: 5;

    img {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 2em;
  }

  &__search {
    font-size: 0.708em;
  }

  &__button {
    margin-left: auto;
  }
}