.select {
  font-size: inherit;
  color: $active;
  background-color: $item-bg;
  border: none;
  border-radius: 0.9em;
  padding: 0.5em 1em;
  padding-right: 1.7em;
  appearance: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($item-bg, 10%);
  }

  &_big {
    padding-right: 7.5em;
  }

  &-wrapper {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      // top: 50%;
      bottom: 45%;
      right: 0.8em;
      width: 0.5em;
      height: 0.5em;
      border-right: 0.05em solid $active;
      border-bottom: 0.05em solid $active;
      transform: rotate(45deg);
    }
  }

  &__option {
    background-color: #FFFFFF;

    &:hover,
    &:focus {
      color: #FFFFFF;
      background-color: $active;
    }
  }
}