.total-table {
  display: flex;
  flex-direction: column;
  font-weight: 700;

  &__row {
    display: flex;
    width: 100%;
    padding: 1.5rem 3rem;
  }

  &__row_first {
    padding-top: 1rem;
  }

  &__row_second {
    font-size: 1.35em;
    background-color: $page-bg;
  }

  &__item {
    width: 18%;
  }
}