.total-table {
  display: flex;
  flex-direction: column;
  font-weight: 700;

  @media screen and (max-width: 600px) {
    font-size: 0.8em;
  }

  &__row {
    display: flex;
    width: 100%;
    padding: 0.625em 1.25em;
  }

  
  &__item {
    min-width: 18%;
    padding-right: 1.667em;
  }

  &__row_first {
    padding-top: 0.417em;
  }

  &__row_second {
    font-size: 1.35em;
    background-color: $page-bg;
    padding: 0.463em 0.926em;

    .total-table__item {
      padding-right: 1.235em;
    }
  }
}