.login {
  height: 100vh;
  background-color: $page-bg;
  padding-top: 5rem;
  
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 1.5em;

    img {
      &:first-child {
        max-width: 4.75em;
        margin-bottom: 1em;
      }

      &:last-child {
        max-width: 7.389em;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 27.556em;
    font-size: 2rem;
    background-color: $component-bg;
    padding: 2.25em 0 0 2.25em;
    border-radius: 0.972em;
    overflow: hidden;
  }

  &__input {
    font-size: 1em;
    background-color: $page-bg;

    &:first-child {
      margin-bottom: 1.389em;
    }

    &:nth-child(2) {
      margin-bottom: 0.2em;
    }
  }

  &__forget-pass {
    align-self: flex-end;
    font-size: 0.75em;
    color: $active;
    text-decoration: none;
    margin-bottom: 3em;
    margin-right: 1.2em;
    
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__submit {
    max-width: 9.289em;
    height: 2.472em;
    font-size: 1em;
    font-weight: 300;
    align-self: flex-end;
    text-transform: none;
  }
}