.settings {
  display: flex;
  // font-size: 1.7rem;
  background-color: $page-bg;

  &__section {
    padding: 5rem 0;
  }

  &__title {
    background-color: $page-bg;
    font-size: 2.7rem;
    padding: 1.7rem 4rem;
  }

  &__form {
    padding: 2rem 4rem;
  }

  &__input {
    width: 100%;
    max-width: 25rem;
    font-size: 1.7rem;
    margin-right: 3rem;

    &::placeholder {
      text-transform: none;
    }
  }

  &__submit {
    font-size: 1.7rem;
  }
}